
.wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    
    & > div:first-child{
        padding: 11px 13px;
        border-bottom: 1px solid #E7E8EE;
    }

    & > div:nth-child(2){
        padding: 16px 13px;
    }
}