.input {
    padding: 12px 13px;
    border-radius: 2px;
    background: #F5F5F5;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;

    & > span{
        color: red;
        font-size: 11px;
    }
}