.sidebar {
    padding: 16px;
    border-radius: 12px;
    background-color: var(--white);
    max-width: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & >  div > a {
        display: flex;
        flex-direction: column;

        & > button {
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px 16px;
            font-size: 16px;
            border-radius: 6px;
            letter-spacing: 0.7px;
            font-weight: 300;
            width: 100%;
            transition: all 0.3s;

            &:hover{
                background-color: rgba(43, 42, 41, 0.10);
            }
    
            & path{
                stroke: var(--black);
            }
        }

    }
    & > div > ul {
        height: 0;
        padding-left: 51px !important;
        overflow-y: hidden;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;

        & li{
            font-style: 12px;
            padding: 0;
            color: var(--black);
            transition: all 0.3s;
        }
    }
}

.active__btn{
    background-color: var(--black)!important;
    color: var(--white);

    & path{
        stroke: var(--white)!important;
    }
}

.active__link{
    color: #F7A707!important;
}

.open__children{
    height: auto!important;
    padding: 5px 0 !important;

    & li{
        padding: 5px 0!important;
    }
}