@use "/src/scss/colors";
@import url('../public/fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display';
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background: var(--body-color);
  color: var(--black);
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  max-width: 100%;
  width: 100%;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--black);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

ul{
  list-style: none;
}