:root{
    --body-color: #EDEDED;
    --white: #ffffff;
    --black: #242424;
    --light-gray: #F5F5F5;
    --primary-color: #2D8DFF;
    --light-yellow: rgba(247, 167, 7, 0.20);
    --yellow-color: rgba(248, 171, 16, 1);
}