
.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;

    & > span{
        color: red;
        font-size: 11px;
    }
}

.textarea{
    width: 100%;
    padding: 20px;
    border-radius: 2px;
    background: #F5F5F5;
    border: none;
    outline: none;
    resize: none;
}